.main {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;

    padding: 10px 20px;

    img {
        height: 11.21px;
        aspect-ratio: 1;
    }
    p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */

        color: #213f7d;
    }
    transition: all ease-in 0.2s;
    &:hover {
        background: #39cdcd1f;
        border-left: 3px solid #39cdcc;
    }
    @media only screen and (max-width: 860px) {
        width: fit-content;
    }
}
.active {
    background: #39cdcd1f;
    border-left: 3px solid #39cdcc;
}
